/venv
/.gitignore
/ecommerce/media/uploads/additional-images/*
/ecommerce/media/uploads/additional-images/249.webp
/ecommerce/media/uploads/title-images/*

/ecommerce/*.log
/ecommerce/*.pot
/ecommerce/*.pyc
/ecommerce/__pycache__
/ecommerce/db.sqlite3
